<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
</head>
<body class="layui-layout-body">
<link rel="stylesheet" href="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">
<style>
    body .layui-layer-red .layui-layer-title{background:white; color:red; border: none;}
    body .layui-layer-red .layui-layer-btn{border-top:1px solid #E9E7E7}
    body .layui-layer-red .layui-layer-btn a{background:red;}
    body .layui-layer-red .layui-layer-btn .layui-layer-btn1{background:#999;}
</style>
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">主页</a><span lay-separator="">/</span>
            <a><cite>系统模块</cite></a><span lay-separator="">/</span>
            <a><cite>地址管理</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-row layui-col-md11">
                <form class="layui-form" lay-filter="formTestFilter2020" id="queryAreaForm" >
                    <input type="text" name="areId" hidden="hidden">
                    <div class="layui-col-sm2 ">
                        <label class="layui-form-label">省份编码</label>
                        <div class="layui-input-block">
                            <input type="text" name="provinceCode" lay-verify="required" autocomplete="off" placeholder="请输入省份编码"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-sm2 ">
                        <label class="layui-form-label">省份名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="provinceName" lay-verify="required" autocomplete="off" placeholder="请输入省份名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-sm2 ">
                        <label class="layui-form-label">城市编码</label>
                        <div class="layui-input-block">
                            <input type="text" name="cityCode" lay-verify="required" autocomplete="off" placeholder="请输入城市编码"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-sm2 ">
                        <label class="layui-form-label">城市名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="cityName" lay-verify="required" autocomplete="off" placeholder="请输入城市名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class=" layui-col-sm2 ">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="status"  lay-verify="required" lay-filter="aihao">
                                <option value=""></option>
                                <option value="0">有效</option>
                                <option value="1">无效</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <button class="layui-btn layui-btn-md" id="searchBtn" style="margin-top: 0.5%;">查询</button>
        </div>
            <table class="layui-hide" id="areaTable" lay-filter="areaTable"></table>
        </div>
    </div>
</div>
<script src="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js" charset="utf-8"></script>
<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/jquery.js"></script>
<script th:src="@{/hmxy-manager/common/common.js}"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="insertArea">新增</button>
    </div>
</script>
<div id="layModalDialog" style="display: none;">
    <form class="layui-form" action="" id="areaForm">
        <input type="hidden" name="areId" id="areId" />
        <div class="layui-form-item">
            <label class="layui-form-label">省份编码:</label>
            <div class="layui-input-block">
                <input type="text" name="provinceCode" lay-verify="provinceCode"  autocomplete="off" placeholder="请输入省份编码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">省份名称:</label>
            <div class="layui-input-block">
                <input type="text" name="provinceName" lay-verify="provinceName" autocomplete="off" placeholder="请输入省份名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">城市编码:</label>
            <div class="layui-input-block">
                <input type="text" name="cityCode" lay-verify="cityCode" required autocomplete="off" placeholder="请输入城市编码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">城市名称:</label>
            <div class="layui-input-block">
                <input type="text" name="cityName" lay-verify="cityName" required autocomplete="off"  placeholder="请输入城市名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="areaSub" >立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;
        var form=layui.form;

        function formatStatus(d){
            if(d.status=="0"){
                return "有效";
            }
            return "失效";
        }
        var tableIns=table.render({
            elem: '#areaTable'
            ,toolbar: '#toolbarDemo'
            ,url:'http://localhost:9099/hmxy-manager/area/listPage'
            ,height: 775
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'},
                {field:'areId', minWidth:80, title: 'ID', sort: true}
                ,{field:'cityCode', minWidth:80, title: '城市编码'},
                {field:'cityName', minWidth:80, title: '城市名称'},
                {field:'provinceCode', minWidth:80, title: '省份编码'},
                {field:'provinceName', minWidth:80, title: '省份名称'}
                ,{field:'status', minWidth:80, title: '状态',templet:formatStatus}
                ,{field:'creatorBy', minWidth:80, title: '创建人'}
                ,{field:'creatorDate', title: '创建时间', minWidth: 80} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'updateBy',minWidth:80, title: '更新人'}
                ,{field:'updateDate', title: '更新时间', minWidth: 80} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ] ]
            ,page: true
        });
        //头工具栏事件
        table.on('toolbar(areaTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'insertArea':
                    openDialog("");
                    break;
            };
        });
        table.on('tool(areaTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定要删除<span style="color:red">'+data.cityName+'</span>吗?', function(index){
                    $.post('/hmxy-manager/area/updateArea',{'areId':data.areId,'status':'1'},function (res) {
                        if(res.data=="success"){
                            layer.msg("删除成功");
                            obj.del();
                            layer.close(layer.index);
                        }
                    },'JSON');;
                });
            } else if(obj.event === 'edit'){
                $.get('findOneArea',{'areId':data.areId},function(result){
                    if(result.code=="10000"){
                        openDialog(data.areId,result);
                        return;
                    }
                    layer.alert("未知错误!");
                },'JSON')
            }
        });

        form.on('submit(areaSub)', function(data){
            var areId=data.field.areId;
            $.get('/hmxy-manager/area/checkAreaExists',data.field,function(result){
                if(result.data=="success"){
                    if(""==areId){
                        $.post('/hmxy-manager/area/addArea',$(form).serialize(),function (res) {
                            if(res.data=="success"){
                                layer.close(layer.index);
                                layer.msg(res.message);
                                table.reload('areaTable',table.options);
                            }
                        },'JSON');
                    }else{
                        $.post('/hmxy-manager/area/updateArea',data.field,function (res) {
                            if(res.data=="success"){
                                layer.close(layer.index);
                                layer.msg(res.message);
                                 reloadData();
                            }
                        },'JSON');
                    }
                    return false;
                }
                layer.alert(result.message, {
                    skin: 'layui-layer-red' //样式类名
                    ,closeBtn: 0
                });
            },"JSON");
            return false;
        });

        /**
         * 打开弹出框
         */
        function openDialog(opeId,data){
            layer.open({
                type: 1
                ,title: ""==opeId?"新增地址信息":"修改地址信息" //不显示标题栏
                ,maxmin: true
                ,area: '500px;'
                ,shade: 0
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btnAlign: 'c'
                ,moveType: 1 //拖拽模式，0或者1
                ,content:$("#layModalDialog").html()
                ,success: function(){
                    $(".areaSub").text(""==opeId?"立即提交":"修改");
                   if(data!=undefined){
                       $("#areaForm").attr("id","areaForm_1");
                       formLoadDataByJson("areaForm",data.data);
                       $("#areaForm_1").attr("id","areaForm");
                       var ppyform=form.render();
                   }
                }
            });
        }

        /**
         * 重新加载表格数据
         */
        function reloadData(){
            var data=queryParams();
            tableIns.reload({
                 where:data
            });
        }

        /**
         * 获取查询参数
         * @returns {*|{}|jQuery}
         */
        function queryParams(){
            var data=$("#queryAreaForm").serializeObject();
            return data;
        }

        /**
         * 点击查询按钮
         */
        $("#searchBtn").click(function () {
            reloadData();
        });
    });
</script>
</body>
</html>