<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">
</head>
<body class="layui-layout-body">


<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">主页</a><span lay-separator="">/</span>
            <a><cite>分享会管理</cite></a><span lay-separator="">/</span>
            <a><cite>分享会类型模块</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-row layui-col-md11">
                <form class="layui-form" lay-filter="formTestFilter2020" id="queryShareMeetType" >
                    <input type="text" name="cfId" hidden="hidden">
                    <div class="layui-col-sm4 ">
                        <label class="layui-form-label">分类名</label>
                        <div class="layui-input-block">
                            <input type="text" name="categoryName" lay-verify="required" autocomplete="off" placeholder="请输入分类名"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class=" layui-col-sm4 ">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="status"  lay-verify="required" lay-filter="aihao">
                                <option value=""></option>
                                <option value="0">有效</option>
                                <option value="1">无效</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <button class="layui-btn layui-btn-sm" id="searchBtn">查询</button>
        </div>
        <table class="layui-hide" id="admin" lay-filter="admin"></table>
    </div>
    <!-- 新增修改页面 -->
    <div class="layui-row" id="shareMeetTypeModal" style="display:none;">
        <div class="layui-col-md11">
            <form class="layui-form" lay-filter="formTestFilter2121" id="shareMeetModal_form" >
                <input type="text" name="cfId" hidden="hidden">
                <div class="layui-form-item">
                    <label class="layui-form-label">分类名</label>
                    <div class="layui-input-block">
                        <input type="text" name="categoryName" lay-verify="required" autocomplete="off" placeholder="请输入分类名"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <select name="status"  lay-verify="required" lay-filter="aihao">
                            <option value=""></option>
                            <option value="0">有效</option>
                            <option value="1">无效</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/jquery.js"></script>
<script th:src="@{/hmxy-manager/common/common.js}" charset="utf-8"></script>
<script src="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js" charset="utf-8"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="shareMeetTypeAdd">新增</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>


<script>
    layui.use(['table','form', 'layedit', 'laydate'], function(){
        var table = layui.table;
        var form = layui.form;
        var layedit = layui.layedit;
        var laydate = layui.laydate;
        var tableIns = table.render({
            elem: '#admin'
            ,toolbar: '#toolbarDemo'
            ,url:'/hmxy-manager/shareMeetType/listPage'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [ [
                {field:'cfId',  title: 'ID', sort: true}
                ,{field:'categoryName',  title: '分类名'}
                ,{field:'status',  title: '状态',templet: formatStatus}
                ,{field:'creatorBy',  title: '创建人'}
                ,{field:'creatorDate', title: '创建时间'}
                ,{field:'updateBy',title: '更新人'}
                ,{field:'updateDate', title: '更新时间'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
            ] ]
            ,page: true
        });


        //头工具栏事件
        table.on('toolbar(admin)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'shareMeetTypeAdd':
                    //示范一个公告层
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type:1,
                        title:"新增分享会类型",
                        skin: 'layui-layer-rim',
                        area: ['500px','300px'],
                        content:$("#shareMeetTypeModal").html(),
                        success: function(data){

                            var select = $(data).find("select[name=status]")
                            select.val(0);
                            select.attr("disabled",true);
                            form.render();
                        }
                    });

                    break;
                // case 'getCheckLength':
                //     var data = checkStatus.data;
                //     layer.msg('选中了：'+ data.length + ' 个');
                //     break;
                // case 'isAll':
                //     layer.msg(checkStatus.isAll ? '全选': '未全选');
                //     break;
            };
        });

        //监听行工具事件
        table.on('tool(admin)', function(obj){
            var params = obj.data;
            if(obj.event === 'edit'){
                layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type:1,
                    title:"修改分享会类型",
                    skin: 'layui-layer-rim',
                    area: ['500px','300px'],
                    content:$("#shareMeetTypeModal").html(),
                    success: function(data){

                        //赋值
                        $.post('/hmxy-manager/shareMeetType/getShareMeetTypeById', {cfId: params.cfId}, function (result) {
                            //表单赋值
                            var $form = $(data).find("form");
                            formLoadDataByJson($form,result);
                            form.render();

                        }, 'json');

                    }
                });
            }
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            shareMeetModalTypeAddOrUpdate(data);
            return false;
        });

        $('#searchBtn').on('click', function () {
            reloadTable();
        });

        /**
         * 分享会类型新增
         */
        function shareMeetModalTypeAddOrUpdate(data) {
            var cfId = data.field.cfId;
            if(null!=cfId&&undefined!=cfId&&"undefined"!=cfId&&""!=cfId){
                $.ajax({
                    url: '/hmxy-manager/shareMeetType/shareMeetTypeUpdate',
                    type: 'POST',
                    data: data.field,
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code = '10000') {
                            layer.close(layer.index);
                            layer.msg(res.message);
                            reloadTable();
                        }
                        else{
                            layer.alert(res.message, {icon: 0});
                        }
                    },
                    error: function (data) {
                        layer.alert("系统异常,请稍后重试", {icon: 2});
                    }
                });
            }else{
                $.ajax({
                    url: '/hmxy-manager/shareMeetType/shareMeetTypeAdd',
                    type: 'POST',
                    data: data.field,
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code = '10000') {
                            layer.close(layer.index);
                            layer.msg(res.message);
                            reloadTable();
                        }
                        else{
                            layer.alert(res.message, {icon: 0});
                        }
                    },
                    error: function (data) {
                        layer.alert("系统异常,请稍后重试", {icon: 2});
                    }
                });
            }


        }


        function reloadTable() {
            tableIns.reload({
                where: queryParams()
            });
        }

        function queryParams() {
            var queryParams = $("#queryShareMeetType").serializeObject();
            return queryParams;
        }

        /**
         * 格式化状态
         */
        function formatStatus(row) {
            var val = row.status;
            if ("0" == val) {
                val = "有效"
            } else if ("1" == val) {
                val = "失效"
            }
            return val;
        }

    });




</script>

</body>
</html>