<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">
</head>
<body class="layui-layout-body">


<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">主页</a><span lay-separator="">/</span>
            <a><cite>分享会模块</cite></a><span lay-separator="">/</span>
            <a><cite>分享会管理</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-row layui-col-md11">
                <form class="layui-form" lay-filter="formTestFilter2020" id="queryShareMeet" >
                    <input type="text" name="cfId" hidden="hidden">
                    <div class="layui-col-sm4 ">
                        <label class="layui-form-label">分类名</label>
                        <div class="layui-input-block">
                            <input type="text" name="categoryName" lay-verify="required" autocomplete="off" placeholder="请输入分类名"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class=" layui-col-sm4 ">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="status"  lay-verify="required" lay-filter="aihao">
                                <option value=""></option>
                                <option value="0">有效</option>
                                <option value="1">无效</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <button class="layui-btn layui-btn-sm" id="searchBtn">查询</button>
        </div>
        <table class="layui-hide" id="shareMeetTable" lay-filter="shareMeetTable"></table>
    </div>
    <!-- 新增修改页面 -->
    <div class="layui-row" id="shareMeetModal" style="display: none">
        <form class="layui-form" lay-filter="formTestFilter" id="shareMeetModal_form">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">基本信息</li>
                    <li>详情</li>
                    <li>用户关联信息</li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <input type="text" name="smId" hidden="hidden">
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" autocomplete="off" placeholder="请输入标题"
                                           v-model="shareMeet.title" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">分享会类型</label>
                                <div class="layui-input-block">
                                    <select name="categoryId">
                                        <option value=""></option>
                                        <option v-for="(shareMeetType, index) in shareMeetTypeList"
                                                :value="shareMeetType.cfId">{{ shareMeetType.categoryName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">区域</label>
                                <div class="layui-input-block">
                                    <select name="areaId">
                                        <option value=""></option>
                                        <option v-for="(area, index) in areaList" :value="area.areId">{{ area.cityName
                                            }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-col-sm4">
                                <label class="layui-form-label">开始分享时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="shareStartTime" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input" lay-filter="dateTime">
                                </div>
                            </div>
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">结束分享时间</label>
                                <div class="layui-input-block">
                                    <input type="text" name="shareEndTime" lay-verify="date" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input" lay-filter="dateTime">
                                </div>
                            </div>
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">费用</label>
                                <div class="layui-input-block">
                                    <input type="text" name="charge" autocomplete="off" placeholder="请输入费用"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-sm8">
                                <label class="layui-form-label">图片链接</label>
                                <div class="layui-input-block">
                                    <input type="text" name="logoUrl" autocomplete="off" placeholder="请输入图片链接"
                                           class="layui-input">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-row">
                            <input type="text" name="desId" hidden="hidden">
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">原始链接</label>
                                <div class="layui-input-block">
                                    <input type="text" name="originalLink" autocomplete="off" placeholder="请输入原始链接"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-col-sm4">
                                <label class="layui-form-label">详情</label>
                                <div class="layui-input-block">
                                    <input type="text" name="despition" autocomplete="off" placeholder="请输入详情"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-row">

                        </div>
                        <!--<table class="layui-hide" id="userMeetTable" lay-filter="userMeetTable"></table>-->
                    </div>


                </div>
            </div>
        </form>
    </div>


</div>

<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/jquery.js"></script>
<script th:src="@{/hmxy-manager/common/common.js}" charset="utf-8"></script>
<script th:src="@{/hmxy-manager/common/vue.js}" charset="utf-8"></script>
<script src="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js" charset="utf-8"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="shareMeetTypeAdd">新增</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>


<script>
    var ShareMeetModalVue = new Vue({
        el: '#shareMeetModal',
        data: {
            selected: 0,
            shareMeetTypeList: [],
            areaList: [],
            // orderInfo: $.parseJSON($("#orderJson_hidden").val()) ? $.parseJSON($("#orderJson_hidden").val()) : {},
            shareMeet:{},
        },
        mounted: function () {
            this.getShareMeetTypeList();
            this.getAreaList();
        },
        methods: {
            getShareMeetTypeList: function () {
                var vm = this;
                $.post('/hmxy-manager/shareMeetType/getShareMeetTypeList', {}, function (response) {
                    vm.shareMeetTypeList = response;
                }, 'json');
            },
            getAreaList: function () {
                var vm = this;
                $.post('/hmxy-manager/area/getAreaList', {}, function (response) {
                    vm.areaList = response;
                }, 'json');
            }
        }
    });








    layui.use(['table','form', 'layedit', 'laydate','element'], function(){
        var table = layui.table;
        var form = layui.form;
        var layedit = layui.layedit;
        var laydate = layui.laydate;
        var element = layui.element;

        var tableIns = table.render({
            elem: '#shareMeetTable'
            ,toolbar: '#toolbarDemo'
            ,url:'/hmxy-manager/shareMeet/listPage'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [ [
                {field:'smId',  title: 'ID', sort: true}
                ,{field:'categoryName',  title: '分类名'}
                ,{field:'title',  title: '标题'}
                ,{field:'shareId',  title: '分享者ID'}
                ,{field:'status',  title: '状态',templet: formatStatus}
                ,{field:'shareStartTime', title: '开始分享时间'}
                ,{field:'shareEndTime', title: '结束分享时间'}
                ,{field:'charge', title: '费用'}
                ,{field:'creatorBy',  title: '创建人'}
                ,{field:'creatorDate', title: '创建时间'}
                ,{field:'updateBy',title: '更新人'}
                ,{field:'updateDate', title: '更新时间'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
            ] ]
            ,page: true
        });


        //头工具栏事件
        table.on('toolbar(shareMeetTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'shareMeetTypeAdd':
                    //示范一个公告层
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type:1,
                        title:"新增分享会信息",
                        skin: 'layui-layer-rim',
                        area: ['1000px','600px'],
                        content:$("#shareMeetModal").html(),
                        btn:['保存'],
                        yes: function(index, layero){
                            shareMeetAdd(index, layero);
                        },
                        success: function(data){
                            //日期
                            renderDate(data);
                            form.render();
                        }
                    });

                    break;
                // case 'getCheckLength':
                //     var data = checkStatus.data;
                //     layer.msg('选中了：'+ data.length + ' 个');
                //     break;
                // case 'isAll':
                //     layer.msg(checkStatus.isAll ? '全选': '未全选');
                //     break;
            };
        });

        //监听行工具事件
        table.on('tool(shareMeetTable)', function(obj){
            var params = obj.data;
            if(obj.event === 'edit'){

                layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type:1,
                    title:"修改分享会信息",
                    skin: 'layui-layer-rim',
                    area: ['1000px','600px'],
                    content:$("#shareMeetModal").html(),
                    btn:['保存'],
                    yes: function(index, layero){
                        shareMeetUpdate(index, layero);
                    },
                    success: function(data){
                        var $form = $(data).find("form");
                        // 赋值
                        var detailId = "";
                        $.ajax({
                            url: '/hmxy-manager/shareMeet/getShareMeetById',
                            type: 'POST',
                            async: false,
                            data: {smId: params.smId},
                            dataType: 'JSON',
                            success: function (result) {
                                detailId = result.detailId;
                                formLoadDataByJson($form,result);
                            },
                            error: function (data) {
                                layer.alert("系统异常,请稍后重试", {icon: 2});
                            }
                        });

                        if(isNotNull(detailId)){
                            $.ajax({
                                url: '/hmxy-manager/shareMeet/getShareMeetDetailById',
                                type: 'POST',
                                async: false,
                                data: {detailId: detailId},
                                dataType: 'JSON',
                                success: function (result) {
                                    formLoadDataByJson($form,result);
                                },
                                error: function (data) {
                                    layer.alert("系统异常,请稍后重试", {icon: 2});
                                }
                            });
                        }



                        //日期
                        renderDate(data);
                        form.render();
                        // $.post('/hmxy-manager/shareMeet/getShareMeetById', {smId: params.smId}, function (result) {
                        //     // ShareMeetModalVue.shareMeet = $.parseJSON(result) ? $.parseJSON(result) : {},
                        //     ShareMeetModalVue.shareMeet = result;
                        //     // var $form = $(data).find("form");
                        //     // formLoadDataByJson($form,result);
                        //     form.render();
                        //
                        // }, 'JSON');

                    }
                });
            }
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        // //监听提交
        // form.on('submit(demo1)', function(data){
        //     shareMeetModalTypeAddOrUpdate(data);
        //     return false;
        // });

        $('#searchBtn').on('click', function () {
            reloadTable();
        });

        /**
         * 分享会类型新增
         */
        function shareMeetAdd(index, layero) {
            var $form = $(layero).find("form");
            var fromData = $form.serializeObject();
            $.ajax({
                url: '/hmxy-manager/shareMeet/shareMeetAdd',
                type: 'POST',
                data: fromData,
                dataType: 'JSON',
                success: function (res) {
                    if (res.code = '10000') {
                        layer.close(index);
                        layer.msg(res.message);
                        reloadTable();
                    }
                    else{
                        layer.alert(res.message, {icon: 0});
                    }
                },
                error: function (data) {
                    layer.alert("系统异常,请稍后重试", {icon: 2});
                }
            });
        }
        /**
         * 分享会类型更新
         */
        function shareMeetUpdate(index, layero) {
            var $form = $(layero).find("form");
            var fromData = $form.serializeObject();
            $.ajax({
                url: '/hmxy-manager/shareMeet/shareMeetUpdate',
                type: 'POST',
                data: fromData,
                dataType: 'JSON',
                success: function (res) {
                    if (res.code = '10000') {
                        layer.close(index);
                        layer.msg(res.message);
                        reloadTable();
                    }
                    else{
                        layer.alert(res.message, {icon: 0});
                    }
                },
                error: function (data) {
                    layer.alert("系统异常,请稍后重试", {icon: 2});
                }
            });
        }

        /**
         * 分享会类型新增
         */
        function shareMeetModalTypeAddOrUpdate(data) {
            var cfId = data.field.cfId;
            if(null!=cfId&&undefined!=cfId&&"undefined"!=cfId&&""!=cfId){
                $.ajax({
                    url: '/hmxy-manager/shareMeetType/shareMeetTypeUpdate',
                    type: 'POST',
                    data: data.field,
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code = '10000') {
                            layer.close(layer.index);
                            layer.msg(res.message);
                            reloadTable();
                        }
                        else{
                            layer.alert(res.message, {icon: 0});
                        }
                    },
                    error: function (data) {
                        layer.alert("系统异常,请稍后重试", {icon: 2});
                    }
                });
            }else{
                $.ajax({
                    url: '/hmxy-manager/shareMeetType/shareMeetTypeAdd',
                    type: 'POST',
                    data: data.field,
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code = '10000') {
                            layer.close(layer.index);
                            layer.msg(res.message);
                            reloadTable();
                        }
                        else{
                            layer.alert(res.message, {icon: 0});
                        }
                    },
                    error: function (data) {
                        layer.alert("系统异常,请稍后重试", {icon: 2});
                    }
                });
            }


        }


        /**
         * 刷新
         */
        function reloadTable() {
            tableIns.reload({
                where: queryParams()
            });
        }
        /**
         * 查询参数
         */
        function queryParams() {
            var queryParams = $("#queryShareMeet").serializeObject();
            return queryParams;
        }

        /**
         * 格式化状态
         */
        function formatStatus(row) {
            var val = row.status;
            if ("0" == val) {
                val = "有效"
            } else if ("1" == val) {
                val = "失效"
            }
            return val;
        }


        /**
         * 弹出层日期控件
         * @param data
         */
        function renderDate(data) {
            var dateObject = $(data).find("input[lay-filter=dateTime]")
            dateObject.each(function () {
                $(this).attr("id",this.name);
                laydate.render({
                    elem: '#'+this.name
                    ,type: 'datetime'
                });
            });
        }

    });




</script>

</body>
</html>