<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="https://www.tangyouzhi.com/layui-v2.2.6/layui/css/layui.css"/>
</head>
<body class="layui-layout-body">
<div class="layui-input-inline">
    <button type="button" onclick="selectRole()" class="layui-btn layui-btn-primary layui-btn-radius">选择角色</button>
</div>
<!-- 选择角色的按钮 -->
<div class="layui-row" id="popSearchRoleTest" style="display:none;">
    <div class="layui-col-md11">
        <form class="layui-form" lay-filter="formTestFilter2121" >
            <div class="layui-form-item">
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName"  class="layui-input">
                </div>
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-inline">
                    <input type="text" name="password"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色：</label>
                <div class="layui-input-inline">
                    <input type="text" name="roleName" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <button onclick="selectRole()" class="layui-btn layui-btn-primary layui-btn-radius">选择角色</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="userDescription"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-normal">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>




<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/jquery.js"></script>
<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/layui.js"></script>


<script type="text/javascript">
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script>
    //选择角色弹层
    function selectRole(){
        layer.open({
            //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
            type:1,
            title:"查找用户角色",
            area: ['50%','50%'],
            content:$("#popSearchRoleTest").html()
        });
    }



</script>
</body>
</html>