<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="https://www.tangyouzhi.com/layui-v2.2.6/layui/css/layui.css"/>
    <!--<link rel="stylesheet"  th:href="@{css/ppy.css}"/>-->
    <!--<link rel="stylesheet" href="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">-->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://imgsrc.baidu.com/imgad/pic/item/ca1349540923dd54afaa0d4bdb09b3de9c82483c.jpg"
                         class="layui-nav-img">
                    测试
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">系统模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" src="message/toMessagePage">消息管理</a></dd>
                        <dd><a href="javascript:;" src="area/toAreaPage">地址管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">分享会模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">分享会管理</a></dd>
                        <dd><a href="javascript:;" src="shareMeet/toShareMeetTypePage">分享会类型</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="content_iframe" width="100%" src="toDefaultPage" height="100%"></iframe>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/layui.js"></script>
<script src="https://www.tangyouzhi.com/layui-v2.2.6/layui/jquery.js"></script>
<!--<script src="https://hanlei525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js"></script>-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/javascript">
    //JavaScript代码区域
    $(function () {
        layui.use('element', function () {
            var element = layui.element;

        });
        //菜单click事件
        $(".layui-nav-child dd a").click(function(){
            $("#content_iframe").attr("src",$(this).attr("src"))
        });
    })
</script>
</body>
</html>